.trustedBy {
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
  
    .container {
      max-width: 760px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: rgb(200, 200, 200);
      font-weight: 500;
  
      img{
        height: 100px;
        object-fit: contain;
      }
      p{
        font-size: larger;
        height: 100px;
        margin-top: 50px;
      }
    }
  }